"""
    INDA HR - INtelligent Data Analysis for HR

     # Introduction  **INDA (INtelligent Data Analysis)** is an [Intervieweb](https://www.intervieweb.it/hrm/)  AI solution provided as a RESTful API.  The INDA pricing model is *credits-based*, which means that a certain number of credits is associated to each API request. Hence, users have to purchase a certain amount of credits (established according to their needs) which will be reduced  at each API call. INDA accepts and processes a user's request only if their credits quota is grater than - or,  at least, equal to - the number of credits required by that request. To obtain further details on the pricing, please visit our [site](https://inda.ai) or contact us.    INDA HR embraces a wide range of functionalities to manage the main elements of a recruitment process:   + [**candidate**](https://api.inda.ai/hr/docs/v2/#tag/Resume-Management) (hereafter also referred to as **resume** or **applicant**), or rather a  person looking for a job;  + [**job advertisement**](https://api.inda.ai/hr/docs/v2/#tag/JobAd-Management) (hereafter also referred to as **job ad**), which is a document   that collects all the main information and details about a job vacancy;  + [**application**](https://api.inda.ai/hr/docs/v2/#tag/Application-Management), that binds candidates to job ads; it is generated whenever a  candidate applies for a job.  Each of them has a specific set of methods that grants users the ability to create, read, update and delete the relative  documents, plus some special features based on AI approaches (such as *document parsing* or *semantic search*). They can be explored in their respective sections.  Data about the listed document types can be enriched by connecting them to other INDA supported entities, such as  [**companies**](https://api.inda.ai/hr/docs/v2/#tag/Company-Management) and [**universities**](https://api.inda.ai/hr/docs/v2/#tag/Universities), so that recruiters may  get a better and more detailed idea on the candidates' experiences and acquired skills.  All the functionalities mentioned above are meant to help recruiters during the talent acquisition process,  by exploiting the power of AI systems. Among the advantages a recruiter has by using this kind of systems, tackling the bias problem is surely one of the  most relevant. Bias in recruitment is a serious issue that affect both recruiters and candidates, since it may cause wrong hiring  decisions. As we care a lot about this problem, we are constantly working on reduce the bias in original data so that INDA  results may be as fair as possible. As of now, in order to tackle the bias issue, INDA automatically ignores specific fields (such as name, gender, age  and nationality) during the initial processing of each candidate data.  Furthermore, we decided to let users collect data of various types, including personal or sensitive details, but we  do not allow their usage if it is different from statistical purposes; our aim is to discourage recruiters from  focusing on candidates' personal information, and to put their attention on the candidate's skills and abilities.    We want to help recruiters to prevent any kind of bias while searching for the most valuable candidates they really need.    The following documentation is addressed both to developers, in order to provide all technical details for INDA integration, and to managers, to guide them in the exploration of the implementation possibilities.  The host of the API is [https://api.inda.ai/hr/v2/](https://api.inda.ai/hr/v2/). We recommend to check the API version and build (displayed near the documentation title). You can contact us at support@intervieweb.it in case of problems, suggestions, or particular needs.  The search panel on the left can be used to navigate through the documentation and provides an overview of the API structure. On the right, you can find (*i*) the url of the method, (*ii*) an example of request body (if present), and (*iii*) an example of response for each response code. Finally, in the central section of each API method, you can find (*i*) a general description of the purpose of the method, (*ii*) details on parameters and request body schema (if present), and (*iii*) details on response schema, error models, and error codes.    # noqa: E501

    The version of the OpenAPI document: 2.0.0
    Contact: info@intervieweb.it
    Generated by: https://openapi-generator.tech
"""

import re  # noqa: F401
import sys  # noqa: F401

from inda_hr.api_client import ApiClient, Endpoint as _Endpoint
from inda_hr.model_utils import (  # noqa: F401
    check_allowed_values, check_validations, date, datetime, file_type,
    none_type, validate_and_convert_types)
from inda_hr.model.error_model import ErrorModel
from inda_hr.model.get_extended_standard_data_response import GetExtendedStandardDataResponse
from inda_hr.model.get_standard_data_response import GetStandardDataResponse
from inda_hr.model.http_validation_error import HTTPValidationError


class StandardizedDataApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client
        self.get_company_size_get_endpoint = _Endpoint(
            settings={
                'response_type': (GetExtendedStandardDataResponse, ),
                'auth': ['APIKey'],
                'endpoint_path': '/hr/v2/data/company/size/',
                'operation_id': 'get_company_size_get',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'dst_lang',
                    'codes',
                ],
                'required': [],
                'nullable': [],
                'enum': [
                    'dst_lang',
                ],
                'validation': []
            },
            root_map={
                'validations': {},
                'allowed_values': {
                    ('dst_lang', ): {
                        "IT": "it",
                        "EN": "en",
                        "ES": "es",
                        "PT": "pt",
                        "DE": "de",
                        "FR": "fr",
                        "PL": "pl"
                    },
                },
                'openapi_types': {
                    'dst_lang': (str, ),
                    'codes': ([
                        bool, date, datetime, dict, float, int, list, str,
                        none_type
                    ], ),
                },
                'attribute_map': {
                    'dst_lang': 'dst_lang',
                    'codes': 'codes',
                },
                'location_map': {
                    'dst_lang': 'query',
                    'codes': 'query',
                },
                'collection_format_map': {
                    'codes': 'multi',
                }
            },
            headers_map={
                'accept': ['application/json'],
                'content_type': [],
            },
            api_client=api_client)
        self.get_company_type_get_endpoint = _Endpoint(
            settings={
                'response_type': (GetStandardDataResponse, ),
                'auth': ['APIKey'],
                'endpoint_path': '/hr/v2/data/company/type/',
                'operation_id': 'get_company_type_get',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'dst_lang',
                    'codes',
                ],
                'required': [],
                'nullable': [],
                'enum': [
                    'dst_lang',
                ],
                'validation': []
            },
            root_map={
                'validations': {},
                'allowed_values': {
                    ('dst_lang', ): {
                        "IT": "it",
                        "EN": "en",
                        "ES": "es",
                        "PT": "pt",
                        "DE": "de",
                        "FR": "fr",
                        "PL": "pl"
                    },
                },
                'openapi_types': {
                    'dst_lang': (str, ),
                    'codes': ([
                        bool, date, datetime, dict, float, int, list, str,
                        none_type
                    ], ),
                },
                'attribute_map': {
                    'dst_lang': 'dst_lang',
                    'codes': 'codes',
                },
                'location_map': {
                    'dst_lang': 'query',
                    'codes': 'query',
                },
                'collection_format_map': {
                    'codes': 'multi',
                }
            },
            headers_map={
                'accept': ['application/json'],
                'content_type': [],
            },
            api_client=api_client)
        self.get_contract_type_get_endpoint = _Endpoint(
            settings={
                'response_type': (GetStandardDataResponse, ),
                'auth': ['APIKey'],
                'endpoint_path': '/hr/v2/data/contract/type/',
                'operation_id': 'get_contract_type_get',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'dst_lang',
                    'codes',
                ],
                'required': [],
                'nullable': [],
                'enum': [
                    'dst_lang',
                ],
                'validation': []
            },
            root_map={
                'validations': {},
                'allowed_values': {
                    ('dst_lang', ): {
                        "IT": "it",
                        "EN": "en",
                        "ES": "es",
                        "PT": "pt",
                        "DE": "de",
                        "FR": "fr",
                        "PL": "pl"
                    },
                },
                'openapi_types': {
                    'dst_lang': (str, ),
                    'codes': ([
                        bool, date, datetime, dict, float, int, list, str,
                        none_type
                    ], ),
                },
                'attribute_map': {
                    'dst_lang': 'dst_lang',
                    'codes': 'codes',
                },
                'location_map': {
                    'dst_lang': 'query',
                    'codes': 'query',
                },
                'collection_format_map': {
                    'codes': 'multi',
                }
            },
            headers_map={
                'accept': ['application/json'],
                'content_type': [],
            },
            api_client=api_client)
        self.get_disability_get_endpoint = _Endpoint(
            settings={
                'response_type': (GetStandardDataResponse, ),
                'auth': ['APIKey'],
                'endpoint_path': '/hr/v2/data/disability/',
                'operation_id': 'get_disability_get',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'dst_lang',
                    'codes',
                ],
                'required': [],
                'nullable': [],
                'enum': [
                    'dst_lang',
                ],
                'validation': []
            },
            root_map={
                'validations': {},
                'allowed_values': {
                    ('dst_lang', ): {
                        "IT": "it",
                        "EN": "en",
                        "ES": "es",
                        "PT": "pt",
                        "DE": "de",
                        "FR": "fr",
                        "PL": "pl"
                    },
                },
                'openapi_types': {
                    'dst_lang': (str, ),
                    'codes': ([
                        bool, date, datetime, dict, float, int, list, str,
                        none_type
                    ], ),
                },
                'attribute_map': {
                    'dst_lang': 'dst_lang',
                    'codes': 'codes',
                },
                'location_map': {
                    'dst_lang': 'query',
                    'codes': 'query',
                },
                'collection_format_map': {
                    'codes': 'multi',
                }
            },
            headers_map={
                'accept': ['application/json'],
                'content_type': [],
            },
            api_client=api_client)
        self.get_education_title_get_endpoint = _Endpoint(
            settings={
                'response_type': (GetStandardDataResponse, ),
                'auth': ['APIKey'],
                'endpoint_path': '/hr/v2/data/education/title/',
                'operation_id': 'get_education_title_get',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'dst_lang',
                    'codes',
                ],
                'required': [],
                'nullable': [],
                'enum': [
                    'dst_lang',
                ],
                'validation': []
            },
            root_map={
                'validations': {},
                'allowed_values': {
                    ('dst_lang', ): {
                        "IT": "it",
                        "EN": "en",
                        "ES": "es",
                        "PT": "pt",
                        "DE": "de",
                        "FR": "fr",
                        "PL": "pl"
                    },
                },
                'openapi_types': {
                    'dst_lang': (str, ),
                    'codes': ([
                        bool, date, datetime, dict, float, int, list, str,
                        none_type
                    ], ),
                },
                'attribute_map': {
                    'dst_lang': 'dst_lang',
                    'codes': 'codes',
                },
                'location_map': {
                    'dst_lang': 'query',
                    'codes': 'query',
                },
                'collection_format_map': {
                    'codes': 'multi',
                }
            },
            headers_map={
                'accept': ['application/json'],
                'content_type': [],
            },
            api_client=api_client)
        self.get_email_label_get_endpoint = _Endpoint(
            settings={
                'response_type': (GetStandardDataResponse, ),
                'auth': ['APIKey'],
                'endpoint_path': '/hr/v2/data/email/label/',
                'operation_id': 'get_email_label_get',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'dst_lang',
                    'codes',
                ],
                'required': [],
                'nullable': [],
                'enum': [
                    'dst_lang',
                ],
                'validation': []
            },
            root_map={
                'validations': {},
                'allowed_values': {
                    ('dst_lang', ): {
                        "IT": "it",
                        "EN": "en",
                        "ES": "es",
                        "PT": "pt",
                        "DE": "de",
                        "FR": "fr",
                        "PL": "pl"
                    },
                },
                'openapi_types': {
                    'dst_lang': (str, ),
                    'codes': ([
                        bool, date, datetime, dict, float, int, list, str,
                        none_type
                    ], ),
                },
                'attribute_map': {
                    'dst_lang': 'dst_lang',
                    'codes': 'codes',
                },
                'location_map': {
                    'dst_lang': 'query',
                    'codes': 'query',
                },
                'collection_format_map': {
                    'codes': 'multi',
                }
            },
            headers_map={
                'accept': ['application/json'],
                'content_type': [],
            },
            api_client=api_client)
        self.get_employment_type_get_endpoint = _Endpoint(
            settings={
                'response_type': (GetExtendedStandardDataResponse, ),
                'auth': ['APIKey'],
                'endpoint_path': '/hr/v2/data/employment/type/',
                'operation_id': 'get_employment_type_get',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'dst_lang',
                    'codes',
                ],
                'required': [],
                'nullable': [],
                'enum': [
                    'dst_lang',
                ],
                'validation': []
            },
            root_map={
                'validations': {},
                'allowed_values': {
                    ('dst_lang', ): {
                        "IT": "it",
                        "EN": "en",
                        "ES": "es",
                        "PT": "pt",
                        "DE": "de",
                        "FR": "fr",
                        "PL": "pl"
                    },
                },
                'openapi_types': {
                    'dst_lang': (str, ),
                    'codes': ([
                        bool, date, datetime, dict, float, int, list, str,
                        none_type
                    ], ),
                },
                'attribute_map': {
                    'dst_lang': 'dst_lang',
                    'codes': 'codes',
                },
                'location_map': {
                    'dst_lang': 'query',
                    'codes': 'query',
                },
                'collection_format_map': {
                    'codes': 'multi',
                }
            },
            headers_map={
                'accept': ['application/json'],
                'content_type': [],
            },
            api_client=api_client)
        self.get_field_of_study_get_endpoint = _Endpoint(
            settings={
                'response_type': (GetStandardDataResponse, ),
                'auth': ['APIKey'],
                'endpoint_path': '/hr/v2/data/education/field-of-study/',
                'operation_id': 'get_field_of_study_get',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'dst_lang',
                    'codes',
                ],
                'required': [],
                'nullable': [],
                'enum': [
                    'dst_lang',
                ],
                'validation': []
            },
            root_map={
                'validations': {},
                'allowed_values': {
                    ('dst_lang', ): {
                        "IT": "it",
                        "EN": "en",
                        "ES": "es",
                        "PT": "pt",
                        "DE": "de",
                        "FR": "fr",
                        "PL": "pl"
                    },
                },
                'openapi_types': {
                    'dst_lang': (str, ),
                    'codes': ([
                        bool, date, datetime, dict, float, int, list, str,
                        none_type
                    ], ),
                },
                'attribute_map': {
                    'dst_lang': 'dst_lang',
                    'codes': 'codes',
                },
                'location_map': {
                    'dst_lang': 'query',
                    'codes': 'query',
                },
                'collection_format_map': {
                    'codes': 'multi',
                }
            },
            headers_map={
                'accept': ['application/json'],
                'content_type': [],
            },
            api_client=api_client)
        self.get_gender_get_endpoint = _Endpoint(settings={
            'response_type': (GetStandardDataResponse, ),
            'auth': ['APIKey'],
            'endpoint_path':
            '/hr/v2/data/gender/',
            'operation_id':
            'get_gender_get',
            'http_method':
            'GET',
            'servers':
            None,
        },
                                                 params_map={
                                                     'all': [
                                                         'dst_lang',
                                                         'codes',
                                                     ],
                                                     'required': [],
                                                     'nullable': [],
                                                     'enum': [
                                                         'dst_lang',
                                                     ],
                                                     'validation': []
                                                 },
                                                 root_map={
                                                     'validations': {},
                                                     'allowed_values': {
                                                         ('dst_lang', ): {
                                                             "IT": "it",
                                                             "EN": "en",
                                                             "ES": "es",
                                                             "PT": "pt",
                                                             "DE": "de",
                                                             "FR": "fr",
                                                             "PL": "pl"
                                                         },
                                                     },
                                                     'openapi_types': {
                                                         'dst_lang': (str, ),
                                                         'codes': ([
                                                             bool, date,
                                                             datetime, dict,
                                                             float, int, list,
                                                             str, none_type
                                                         ], ),
                                                     },
                                                     'attribute_map': {
                                                         'dst_lang':
                                                         'dst_lang',
                                                         'codes': 'codes',
                                                     },
                                                     'location_map': {
                                                         'dst_lang': 'query',
                                                         'codes': 'query',
                                                     },
                                                     'collection_format_map': {
                                                         'codes': 'multi',
                                                     }
                                                 },
                                                 headers_map={
                                                     'accept':
                                                     ['application/json'],
                                                     'content_type': [],
                                                 },
                                                 api_client=api_client)
        self.get_industries_get_endpoint = _Endpoint(
            settings={
                'response_type': (GetStandardDataResponse, ),
                'auth': ['APIKey'],
                'endpoint_path': '/hr/v2/data/industries/',
                'operation_id': 'get_industries_get',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'dst_lang',
                    'codes',
                ],
                'required': [],
                'nullable': [],
                'enum': [
                    'dst_lang',
                ],
                'validation': []
            },
            root_map={
                'validations': {},
                'allowed_values': {
                    ('dst_lang', ): {
                        "IT": "it",
                        "EN": "en",
                        "ES": "es",
                        "PT": "pt",
                        "DE": "de",
                        "FR": "fr",
                        "PL": "pl"
                    },
                },
                'openapi_types': {
                    'dst_lang': (str, ),
                    'codes': ([
                        bool, date, datetime, dict, float, int, list, str,
                        none_type
                    ], ),
                },
                'attribute_map': {
                    'dst_lang': 'dst_lang',
                    'codes': 'codes',
                },
                'location_map': {
                    'dst_lang': 'query',
                    'codes': 'query',
                },
                'collection_format_map': {
                    'codes': 'multi',
                }
            },
            headers_map={
                'accept': ['application/json'],
                'content_type': [],
            },
            api_client=api_client)
        self.get_job_function_get_endpoint = _Endpoint(
            settings={
                'response_type': (GetStandardDataResponse, ),
                'auth': ['APIKey'],
                'endpoint_path': '/hr/v2/data/job/function/',
                'operation_id': 'get_job_function_get',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'dst_lang',
                    'codes',
                ],
                'required': [],
                'nullable': [],
                'enum': [
                    'dst_lang',
                ],
                'validation': []
            },
            root_map={
                'validations': {},
                'allowed_values': {
                    ('dst_lang', ): {
                        "IT": "it",
                        "EN": "en",
                        "ES": "es",
                        "PT": "pt",
                        "DE": "de",
                        "FR": "fr",
                        "PL": "pl"
                    },
                },
                'openapi_types': {
                    'dst_lang': (str, ),
                    'codes': ([
                        bool, date, datetime, dict, float, int, list, str,
                        none_type
                    ], ),
                },
                'attribute_map': {
                    'dst_lang': 'dst_lang',
                    'codes': 'codes',
                },
                'location_map': {
                    'dst_lang': 'query',
                    'codes': 'query',
                },
                'collection_format_map': {
                    'codes': 'multi',
                }
            },
            headers_map={
                'accept': ['application/json'],
                'content_type': [],
            },
            api_client=api_client)
        self.get_jobshift_type_get_endpoint = _Endpoint(
            settings={
                'response_type': (GetStandardDataResponse, ),
                'auth': ['APIKey'],
                'endpoint_path': '/hr/v2/data/jobshift/type/',
                'operation_id': 'get_jobshift_type_get',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'dst_lang',
                    'codes',
                ],
                'required': [],
                'nullable': [],
                'enum': [
                    'dst_lang',
                ],
                'validation': []
            },
            root_map={
                'validations': {},
                'allowed_values': {
                    ('dst_lang', ): {
                        "EN": "en",
                        "IT": "it"
                    },
                },
                'openapi_types': {
                    'dst_lang': (str, ),
                    'codes': ([
                        bool, date, datetime, dict, float, int, list, str,
                        none_type
                    ], ),
                },
                'attribute_map': {
                    'dst_lang': 'dst_lang',
                    'codes': 'codes',
                },
                'location_map': {
                    'dst_lang': 'query',
                    'codes': 'query',
                },
                'collection_format_map': {
                    'codes': 'multi',
                }
            },
            headers_map={
                'accept': ['application/json'],
                'content_type': [],
            },
            api_client=api_client)
        self.get_license_code_get_endpoint = _Endpoint(
            settings={
                'response_type': (GetStandardDataResponse, ),
                'auth': ['APIKey'],
                'endpoint_path':
                '/hr/v2/data/license/type/{license_type}/code/',
                'operation_id': 'get_license_code_get',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'license_type',
                    'dst_lang',
                    'codes',
                ],
                'required': [
                    'license_type',
                ],
                'nullable': [],
                'enum': [
                    'dst_lang',
                ],
                'validation': []
            },
            root_map={
                'validations': {},
                'allowed_values': {
                    ('dst_lang', ): {
                        "IT": "it",
                        "EN": "en",
                        "ES": "es",
                        "PT": "pt",
                        "DE": "de",
                        "FR": "fr",
                        "PL": "pl"
                    },
                },
                'openapi_types': {
                    'license_type': (str, ),
                    'dst_lang': (str, ),
                    'codes': ([
                        bool, date, datetime, dict, float, int, list, str,
                        none_type
                    ], ),
                },
                'attribute_map': {
                    'license_type': 'license_type',
                    'dst_lang': 'dst_lang',
                    'codes': 'codes',
                },
                'location_map': {
                    'license_type': 'path',
                    'dst_lang': 'query',
                    'codes': 'query',
                },
                'collection_format_map': {
                    'codes': 'multi',
                }
            },
            headers_map={
                'accept': ['application/json'],
                'content_type': [],
            },
            api_client=api_client)
        self.get_license_type_get_endpoint = _Endpoint(
            settings={
                'response_type': (GetStandardDataResponse, ),
                'auth': ['APIKey'],
                'endpoint_path': '/hr/v2/data/license/type/',
                'operation_id': 'get_license_type_get',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'dst_lang',
                    'codes',
                ],
                'required': [],
                'nullable': [],
                'enum': [
                    'dst_lang',
                ],
                'validation': []
            },
            root_map={
                'validations': {},
                'allowed_values': {
                    ('dst_lang', ): {
                        "IT": "it",
                        "EN": "en",
                        "ES": "es",
                        "PT": "pt",
                        "DE": "de",
                        "FR": "fr",
                        "PL": "pl"
                    },
                },
                'openapi_types': {
                    'dst_lang': (str, ),
                    'codes': ([
                        bool, date, datetime, dict, float, int, list, str,
                        none_type
                    ], ),
                },
                'attribute_map': {
                    'dst_lang': 'dst_lang',
                    'codes': 'codes',
                },
                'location_map': {
                    'dst_lang': 'query',
                    'codes': 'query',
                },
                'collection_format_map': {
                    'codes': 'multi',
                }
            },
            headers_map={
                'accept': ['application/json'],
                'content_type': [],
            },
            api_client=api_client)
        self.get_link_label_get_endpoint = _Endpoint(
            settings={
                'response_type': (GetStandardDataResponse, ),
                'auth': ['APIKey'],
                'endpoint_path': '/hr/v2/data/link/label/',
                'operation_id': 'get_link_label_get',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'dst_lang',
                    'codes',
                ],
                'required': [],
                'nullable': [],
                'enum': [
                    'dst_lang',
                ],
                'validation': []
            },
            root_map={
                'validations': {},
                'allowed_values': {
                    ('dst_lang', ): {
                        "IT": "it",
                        "EN": "en",
                        "ES": "es",
                        "PT": "pt",
                        "DE": "de",
                        "FR": "fr",
                        "PL": "pl"
                    },
                },
                'openapi_types': {
                    'dst_lang': (str, ),
                    'codes': ([
                        bool, date, datetime, dict, float, int, list, str,
                        none_type
                    ], ),
                },
                'attribute_map': {
                    'dst_lang': 'dst_lang',
                    'codes': 'codes',
                },
                'location_map': {
                    'dst_lang': 'query',
                    'codes': 'query',
                },
                'collection_format_map': {
                    'codes': 'multi',
                }
            },
            headers_map={
                'accept': ['application/json'],
                'content_type': [],
            },
            api_client=api_client)
        self.get_marital_status_get_endpoint = _Endpoint(
            settings={
                'response_type': (GetStandardDataResponse, ),
                'auth': ['APIKey'],
                'endpoint_path': '/hr/v2/data/marital-status/',
                'operation_id': 'get_marital_status_get',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'dst_lang',
                    'codes',
                ],
                'required': [],
                'nullable': [],
                'enum': [
                    'dst_lang',
                ],
                'validation': []
            },
            root_map={
                'validations': {},
                'allowed_values': {
                    ('dst_lang', ): {
                        "IT": "it",
                        "EN": "en",
                        "ES": "es",
                        "PT": "pt",
                        "DE": "de",
                        "FR": "fr",
                        "PL": "pl"
                    },
                },
                'openapi_types': {
                    'dst_lang': (str, ),
                    'codes': ([
                        bool, date, datetime, dict, float, int, list, str,
                        none_type
                    ], ),
                },
                'attribute_map': {
                    'dst_lang': 'dst_lang',
                    'codes': 'codes',
                },
                'location_map': {
                    'dst_lang': 'query',
                    'codes': 'query',
                },
                'collection_format_map': {
                    'codes': 'multi',
                }
            },
            headers_map={
                'accept': ['application/json'],
                'content_type': [],
            },
            api_client=api_client)
        self.get_name_prefix_get_endpoint = _Endpoint(
            settings={
                'response_type': (GetStandardDataResponse, ),
                'auth': ['APIKey'],
                'endpoint_path': '/hr/v2/data/name/prefix/',
                'operation_id': 'get_name_prefix_get',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'dst_lang',
                    'codes',
                ],
                'required': [],
                'nullable': [],
                'enum': [
                    'dst_lang',
                ],
                'validation': []
            },
            root_map={
                'validations': {},
                'allowed_values': {
                    ('dst_lang', ): {
                        "IT": "it",
                        "EN": "en",
                        "ES": "es",
                        "PT": "pt",
                        "DE": "de",
                        "FR": "fr",
                        "PL": "pl"
                    },
                },
                'openapi_types': {
                    'dst_lang': (str, ),
                    'codes': ([
                        bool, date, datetime, dict, float, int, list, str,
                        none_type
                    ], ),
                },
                'attribute_map': {
                    'dst_lang': 'dst_lang',
                    'codes': 'codes',
                },
                'location_map': {
                    'dst_lang': 'query',
                    'codes': 'query',
                },
                'collection_format_map': {
                    'codes': 'multi',
                }
            },
            headers_map={
                'accept': ['application/json'],
                'content_type': [],
            },
            api_client=api_client)
        self.get_name_suffix_get_endpoint = _Endpoint(
            settings={
                'response_type': (GetStandardDataResponse, ),
                'auth': ['APIKey'],
                'endpoint_path': '/hr/v2/data/name/suffix/',
                'operation_id': 'get_name_suffix_get',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'dst_lang',
                    'codes',
                ],
                'required': [],
                'nullable': [],
                'enum': [
                    'dst_lang',
                ],
                'validation': []
            },
            root_map={
                'validations': {},
                'allowed_values': {
                    ('dst_lang', ): {
                        "IT": "it",
                        "EN": "en",
                        "ES": "es",
                        "PT": "pt",
                        "DE": "de",
                        "FR": "fr",
                        "PL": "pl"
                    },
                },
                'openapi_types': {
                    'dst_lang': (str, ),
                    'codes': ([
                        bool, date, datetime, dict, float, int, list, str,
                        none_type
                    ], ),
                },
                'attribute_map': {
                    'dst_lang': 'dst_lang',
                    'codes': 'codes',
                },
                'location_map': {
                    'dst_lang': 'query',
                    'codes': 'query',
                },
                'collection_format_map': {
                    'codes': 'multi',
                }
            },
            headers_map={
                'accept': ['application/json'],
                'content_type': [],
            },
            api_client=api_client)
        self.get_patent_status_get_endpoint = _Endpoint(
            settings={
                'response_type': (GetStandardDataResponse, ),
                'auth': ['APIKey'],
                'endpoint_path': '/hr/v2/data/patent/status/',
                'operation_id': 'get_patent_status_get',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'dst_lang',
                    'codes',
                ],
                'required': [],
                'nullable': [],
                'enum': [
                    'dst_lang',
                ],
                'validation': []
            },
            root_map={
                'validations': {},
                'allowed_values': {
                    ('dst_lang', ): {
                        "IT": "it",
                        "EN": "en",
                        "ES": "es",
                        "PT": "pt",
                        "DE": "de",
                        "FR": "fr",
                        "PL": "pl"
                    },
                },
                'openapi_types': {
                    'dst_lang': (str, ),
                    'codes': ([
                        bool, date, datetime, dict, float, int, list, str,
                        none_type
                    ], ),
                },
                'attribute_map': {
                    'dst_lang': 'dst_lang',
                    'codes': 'codes',
                },
                'location_map': {
                    'dst_lang': 'query',
                    'codes': 'query',
                },
                'collection_format_map': {
                    'codes': 'multi',
                }
            },
            headers_map={
                'accept': ['application/json'],
                'content_type': [],
            },
            api_client=api_client)
        self.get_phone_label_get_endpoint = _Endpoint(
            settings={
                'response_type': (GetStandardDataResponse, ),
                'auth': ['APIKey'],
                'endpoint_path': '/hr/v2/data/phone/label/',
                'operation_id': 'get_phone_label_get',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'dst_lang',
                    'codes',
                ],
                'required': [],
                'nullable': [],
                'enum': [
                    'dst_lang',
                ],
                'validation': []
            },
            root_map={
                'validations': {},
                'allowed_values': {
                    ('dst_lang', ): {
                        "IT": "it",
                        "EN": "en",
                        "ES": "es",
                        "PT": "pt",
                        "DE": "de",
                        "FR": "fr",
                        "PL": "pl"
                    },
                },
                'openapi_types': {
                    'dst_lang': (str, ),
                    'codes': ([
                        bool, date, datetime, dict, float, int, list, str,
                        none_type
                    ], ),
                },
                'attribute_map': {
                    'dst_lang': 'dst_lang',
                    'codes': 'codes',
                },
                'location_map': {
                    'dst_lang': 'query',
                    'codes': 'query',
                },
                'collection_format_map': {
                    'codes': 'multi',
                }
            },
            headers_map={
                'accept': ['application/json'],
                'content_type': [],
            },
            api_client=api_client)
        self.get_protected_group_get_endpoint = _Endpoint(
            settings={
                'response_type': (GetStandardDataResponse, ),
                'auth': ['APIKey'],
                'endpoint_path': '/hr/v2/data/protected-group/',
                'operation_id': 'get_protected_group_get',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'dst_lang',
                    'codes',
                ],
                'required': [],
                'nullable': [],
                'enum': [
                    'dst_lang',
                ],
                'validation': []
            },
            root_map={
                'validations': {},
                'allowed_values': {
                    ('dst_lang', ): {
                        "IT": "it",
                        "EN": "en",
                        "ES": "es",
                        "PT": "pt",
                        "DE": "de",
                        "FR": "fr",
                        "PL": "pl"
                    },
                },
                'openapi_types': {
                    'dst_lang': (str, ),
                    'codes': ([
                        bool, date, datetime, dict, float, int, list, str,
                        none_type
                    ], ),
                },
                'attribute_map': {
                    'dst_lang': 'dst_lang',
                    'codes': 'codes',
                },
                'location_map': {
                    'dst_lang': 'query',
                    'codes': 'query',
                },
                'collection_format_map': {
                    'codes': 'multi',
                }
            },
            headers_map={
                'accept': ['application/json'],
                'content_type': [],
            },
            api_client=api_client)
        self.get_remote_working_get_endpoint = _Endpoint(
            settings={
                'response_type': (GetStandardDataResponse, ),
                'auth': ['APIKey'],
                'endpoint_path': '/hr/v2/data/employment/remote-working/',
                'operation_id': 'get_remote_working_get',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'dst_lang',
                    'codes',
                ],
                'required': [],
                'nullable': [],
                'enum': [
                    'dst_lang',
                ],
                'validation': []
            },
            root_map={
                'validations': {},
                'allowed_values': {
                    ('dst_lang', ): {
                        "IT": "it",
                        "EN": "en",
                        "ES": "es",
                        "PT": "pt",
                        "DE": "de",
                        "FR": "fr",
                        "PL": "pl"
                    },
                },
                'openapi_types': {
                    'dst_lang': (str, ),
                    'codes': ([
                        bool, date, datetime, dict, float, int, list, str,
                        none_type
                    ], ),
                },
                'attribute_map': {
                    'dst_lang': 'dst_lang',
                    'codes': 'codes',
                },
                'location_map': {
                    'dst_lang': 'query',
                    'codes': 'query',
                },
                'collection_format_map': {
                    'codes': 'multi',
                }
            },
            headers_map={
                'accept': ['application/json'],
                'content_type': [],
            },
            api_client=api_client)
        self.get_salary_frequency_get_endpoint = _Endpoint(
            settings={
                'response_type': (GetStandardDataResponse, ),
                'auth': ['APIKey'],
                'endpoint_path': '/hr/v2/data/salary/frequency/',
                'operation_id': 'get_salary_frequency_get',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'dst_lang',
                    'codes',
                ],
                'required': [],
                'nullable': [],
                'enum': [
                    'dst_lang',
                ],
                'validation': []
            },
            root_map={
                'validations': {},
                'allowed_values': {
                    ('dst_lang', ): {
                        "IT": "it",
                        "EN": "en",
                        "ES": "es",
                        "PT": "pt",
                        "DE": "de",
                        "FR": "fr",
                        "PL": "pl"
                    },
                },
                'openapi_types': {
                    'dst_lang': (str, ),
                    'codes': ([
                        bool, date, datetime, dict, float, int, list, str,
                        none_type
                    ], ),
                },
                'attribute_map': {
                    'dst_lang': 'dst_lang',
                    'codes': 'codes',
                },
                'location_map': {
                    'dst_lang': 'query',
                    'codes': 'query',
                },
                'collection_format_map': {
                    'codes': 'multi',
                }
            },
            headers_map={
                'accept': ['application/json'],
                'content_type': [],
            },
            api_client=api_client)
        self.get_salary_type_get_endpoint = _Endpoint(
            settings={
                'response_type': (GetStandardDataResponse, ),
                'auth': ['APIKey'],
                'endpoint_path': '/hr/v2/data/salary/type/',
                'operation_id': 'get_salary_type_get',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'dst_lang',
                    'codes',
                ],
                'required': [],
                'nullable': [],
                'enum': [
                    'dst_lang',
                ],
                'validation': []
            },
            root_map={
                'validations': {},
                'allowed_values': {
                    ('dst_lang', ): {
                        "IT": "it",
                        "EN": "en",
                        "ES": "es",
                        "PT": "pt",
                        "DE": "de",
                        "FR": "fr",
                        "PL": "pl"
                    },
                },
                'openapi_types': {
                    'dst_lang': (str, ),
                    'codes': ([
                        bool, date, datetime, dict, float, int, list, str,
                        none_type
                    ], ),
                },
                'attribute_map': {
                    'dst_lang': 'dst_lang',
                    'codes': 'codes',
                },
                'location_map': {
                    'dst_lang': 'query',
                    'codes': 'query',
                },
                'collection_format_map': {
                    'codes': 'multi',
                }
            },
            headers_map={
                'accept': ['application/json'],
                'content_type': [],
            },
            api_client=api_client)
        self.get_seniority_level_get_endpoint = _Endpoint(
            settings={
                'response_type': (GetExtendedStandardDataResponse, ),
                'auth': ['APIKey'],
                'endpoint_path': '/hr/v2/data/seniority/level/',
                'operation_id': 'get_seniority_level_get',
                'http_method': 'GET',
                'servers': None,
            },
            params_map={
                'all': [
                    'dst_lang',
                    'codes',
                ],
                'required': [],
                'nullable': [],
                'enum': [
                    'dst_lang',
                ],
                'validation': []
            },
            root_map={
                'validations': {},
                'allowed_values': {
                    ('dst_lang', ): {
                        "IT": "it",
                        "EN": "en",
                        "ES": "es",
                        "PT": "pt",
                        "DE": "de",
                        "FR": "fr",
                        "PL": "pl"
                    },
                },
                'openapi_types': {
                    'dst_lang': (str, ),
                    'codes': ([
                        bool, date, datetime, dict, float, int, list, str,
                        none_type
                    ], ),
                },
                'attribute_map': {
                    'dst_lang': 'dst_lang',
                    'codes': 'codes',
                },
                'location_map': {
                    'dst_lang': 'query',
                    'codes': 'query',
                },
                'collection_format_map': {
                    'codes': 'multi',
                }
            },
            headers_map={
                'accept': ['application/json'],
                'content_type': [],
            },
            api_client=api_client)

    def get_company_size_get(self, **kwargs):
        """Get Company Size  # noqa: E501

         Lists company size encodings based on [LinkedIn Company Size](https://docs.microsoft.com/en-us/linkedin/shared/references/reference-tables/company-size-codes).   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.get_company_size_get(async_req=True)
        >>> result = thread.get()


        Keyword Args:
            dst_lang (str): The language in which the 'Value' is returned. Supported languages: <code style='color: #333333; opacity: 0.9'>it</code>, <code style='color: #333333; opacity: 0.9'>en</code>, <code style='color: #333333; opacity: 0.9'>es</code>, <code style='color: #333333; opacity: 0.9'>pt</code>, <code style='color: #333333; opacity: 0.9'>de</code>, <code style='color: #333333; opacity: 0.9'>fr</code>, <code style='color: #333333; opacity: 0.9'>pl</code>. [optional] if omitted the server will use the default value of "it"
            codes ([bool, date, datetime, dict, float, int, list, str, none_type]): If <code style='color: #333333; opacity: 0.9'>null</code> the API returns all the corresponding <code style='color: #333333; opacity: 0.9'>lang</code> data.. [optional]
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            GetExtendedStandardDataResponse
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get('async_req', False)
        kwargs['_return_http_data_only'] = kwargs.get('_return_http_data_only',
                                                      True)
        kwargs['_preload_content'] = kwargs.get('_preload_content', True)
        kwargs['_request_timeout'] = kwargs.get('_request_timeout', None)
        kwargs['_check_input_type'] = kwargs.get('_check_input_type', True)
        kwargs['_check_return_type'] = kwargs.get('_check_return_type', True)
        kwargs['_spec_property_naming'] = kwargs.get('_spec_property_naming',
                                                     False)
        kwargs['_content_type'] = kwargs.get('_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        return self.get_company_size_get_endpoint.call_with_http_info(**kwargs)

    def get_company_type_get(self, **kwargs):
        """Get Company Type  # noqa: E501

         Lists company type encodings based on LinkedIn Company Types.  English example values:  + <code style='color: #333333; opacity: 0.9'>SELF_EMPLOYED</code> - Self-employed + <code style='color: #333333; opacity: 0.9'>PUBLIC_COMPANY</code> - Public company + <code style='color: #333333; opacity: 0.9'>NON_PROFIT</code> - Nonprofit + <code style='color: #333333; opacity: 0.9'>PARTNERSHIP</code> - Partnership + <code style='color: #333333; opacity: 0.9'>GOVERNMENT_AGENCY</code> - Government agency + <code style='color: #333333; opacity: 0.9'>SELF_OWNED</code> - Sole proprietorship + <code style='color: #333333; opacity: 0.9'>PRIVATELY_HELD</code> - Privately held   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.get_company_type_get(async_req=True)
        >>> result = thread.get()


        Keyword Args:
            dst_lang (str): The language in which the 'Value' is returned. Supported languages: <code style='color: #333333; opacity: 0.9'>it</code>, <code style='color: #333333; opacity: 0.9'>en</code>, <code style='color: #333333; opacity: 0.9'>es</code>, <code style='color: #333333; opacity: 0.9'>pt</code>, <code style='color: #333333; opacity: 0.9'>de</code>, <code style='color: #333333; opacity: 0.9'>fr</code>, <code style='color: #333333; opacity: 0.9'>pl</code>. [optional] if omitted the server will use the default value of "it"
            codes ([bool, date, datetime, dict, float, int, list, str, none_type]): If <code style='color: #333333; opacity: 0.9'>null</code> the API returns all the corresponding <code style='color: #333333; opacity: 0.9'>lang</code> data.. [optional]
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            GetStandardDataResponse
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get('async_req', False)
        kwargs['_return_http_data_only'] = kwargs.get('_return_http_data_only',
                                                      True)
        kwargs['_preload_content'] = kwargs.get('_preload_content', True)
        kwargs['_request_timeout'] = kwargs.get('_request_timeout', None)
        kwargs['_check_input_type'] = kwargs.get('_check_input_type', True)
        kwargs['_check_return_type'] = kwargs.get('_check_return_type', True)
        kwargs['_spec_property_naming'] = kwargs.get('_spec_property_naming',
                                                     False)
        kwargs['_content_type'] = kwargs.get('_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        return self.get_company_type_get_endpoint.call_with_http_info(**kwargs)

    def get_contract_type_get(self, **kwargs):
        """Get Contract Type  # noqa: E501

         Lists common contract type encodings.  English example values:  + <code style='color: #333333; opacity: 0.9'>CASUAL</code> - Casual + <code style='color: #333333; opacity: 0.9'>TEMPORARY</code> - Temporary + <code style='color: #333333; opacity: 0.9'>PERMANENT</code> - Permanent   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.get_contract_type_get(async_req=True)
        >>> result = thread.get()


        Keyword Args:
            dst_lang (str): The language in which the 'Value' is returned. Supported languages: <code style='color: #333333; opacity: 0.9'>it</code>, <code style='color: #333333; opacity: 0.9'>en</code>, <code style='color: #333333; opacity: 0.9'>es</code>, <code style='color: #333333; opacity: 0.9'>pt</code>, <code style='color: #333333; opacity: 0.9'>de</code>, <code style='color: #333333; opacity: 0.9'>fr</code>, <code style='color: #333333; opacity: 0.9'>pl</code>. [optional] if omitted the server will use the default value of "it"
            codes ([bool, date, datetime, dict, float, int, list, str, none_type]): If <code style='color: #333333; opacity: 0.9'>null</code> the API returns all the corresponding <code style='color: #333333; opacity: 0.9'>lang</code> data.. [optional]
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            GetStandardDataResponse
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get('async_req', False)
        kwargs['_return_http_data_only'] = kwargs.get('_return_http_data_only',
                                                      True)
        kwargs['_preload_content'] = kwargs.get('_preload_content', True)
        kwargs['_request_timeout'] = kwargs.get('_request_timeout', None)
        kwargs['_check_input_type'] = kwargs.get('_check_input_type', True)
        kwargs['_check_return_type'] = kwargs.get('_check_return_type', True)
        kwargs['_spec_property_naming'] = kwargs.get('_spec_property_naming',
                                                     False)
        kwargs['_content_type'] = kwargs.get('_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        return self.get_contract_type_get_endpoint.call_with_http_info(
            **kwargs)

    def get_disability_get(self, **kwargs):
        """Get Disability  # noqa: E501

         Lists disability level encodings.  Each level represents a disability severity, as described below:  + <code style='color: #333333; opacity: 0.9'>1</code> - 1: Needs another person's assistance with daily life tasks + <code style='color: #333333; opacity: 0.9'>5</code> - 5: No limitations in functioning + <code style='color: #333333; opacity: 0.9'>4</code> - 4: Experiences difficulty in just one function + <code style='color: #333333; opacity: 0.9'>2</code> - 2: Inability to perform one or more sensory or physical functions + <code style='color: #333333; opacity: 0.9'>3</code> - 3: Experiences difficulties in multiple sensory or physical functions   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.get_disability_get(async_req=True)
        >>> result = thread.get()


        Keyword Args:
            dst_lang (str): The language in which the 'Value' is returned. Supported languages: <code style='color: #333333; opacity: 0.9'>it</code>, <code style='color: #333333; opacity: 0.9'>en</code>, <code style='color: #333333; opacity: 0.9'>es</code>, <code style='color: #333333; opacity: 0.9'>pt</code>, <code style='color: #333333; opacity: 0.9'>de</code>, <code style='color: #333333; opacity: 0.9'>fr</code>, <code style='color: #333333; opacity: 0.9'>pl</code>. [optional] if omitted the server will use the default value of "it"
            codes ([bool, date, datetime, dict, float, int, list, str, none_type]): If <code style='color: #333333; opacity: 0.9'>null</code> the API returns all the corresponding <code style='color: #333333; opacity: 0.9'>lang</code> data.. [optional]
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            GetStandardDataResponse
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get('async_req', False)
        kwargs['_return_http_data_only'] = kwargs.get('_return_http_data_only',
                                                      True)
        kwargs['_preload_content'] = kwargs.get('_preload_content', True)
        kwargs['_request_timeout'] = kwargs.get('_request_timeout', None)
        kwargs['_check_input_type'] = kwargs.get('_check_input_type', True)
        kwargs['_check_return_type'] = kwargs.get('_check_return_type', True)
        kwargs['_spec_property_naming'] = kwargs.get('_spec_property_naming',
                                                     False)
        kwargs['_content_type'] = kwargs.get('_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        return self.get_disability_get_endpoint.call_with_http_info(**kwargs)

    def get_education_title_get(self, **kwargs):
        """Get Education Title  # noqa: E501

         Lists common education title encodings based on LinkedIn Degree values.  English example values:  + <code style='color: #333333; opacity: 0.9'>241</code> - Bachelor of Pharmacy - BPharm + <code style='color: #333333; opacity: 0.9'>1018</code> - Doctor of Pharmacy - PharmD + <code style='color: #333333; opacity: 0.9'>900</code> - Doctor of Philosophy - PhD + <code style='color: #333333; opacity: 0.9'>563</code> - Master of Philosophy - MPhil + <code style='color: #333333; opacity: 0.9'>570</code> - Master of Public Administration - MPA + <code style='color: #333333; opacity: 0.9'>588</code> - Master of Public Health - MPH + <code style='color: #333333; opacity: 0.9'>645</code> - Postgraduate Degree + <code style='color: #333333; opacity: 0.9'>116</code> - Associate of Arts - AA + <code style='color: #333333; opacity: 0.9'>104</code> - Associate of Arts and Sciences - AAS + <code style='color: #333333; opacity: 0.9'>112</code> - Associate of Science - AS + <code style='color: #333333; opacity: 0.9'>259</code> - Bachelor of Applied Science - BASc + <code style='color: #333333; opacity: 0.9'>258</code> - Bachelor of Architecture - BArch + <code style='color: #333333; opacity: 0.9'>350</code> - Bachelor of Arts - BA + <code style='color: #333333; opacity: 0.9'>450</code> - Bachelor of Business Administration - BBA + <code style='color: #333333; opacity: 0.9'>215</code> - Bachelor of Commerce - BCom + <code style='color: #333333; opacity: 0.9'>206</code> - Bachelor of Education - BEd + <code style='color: #333333; opacity: 0.9'>269</code> - Bachelor of Engineering - BE + <code style='color: #333333; opacity: 0.9'>223</code> - Bachelor of Fine Arts - BFA + <code style='color: #333333; opacity: 0.9'>232</code> - Bachelor of Laws - LLB + <code style='color: #333333; opacity: 0.9'>1037</code> - Bachelor of Medicine, Bachelor of Surgery - MBBS + <code style='color: #333333; opacity: 0.9'>400</code> - Bachelor of Science - BS + <code style='color: #333333; opacity: 0.9'>250</code> - Bachelor of Technology - BTech + <code style='color: #333333; opacity: 0.9'>513</code> - Diploma of Education + <code style='color: #333333; opacity: 0.9'>916</code> - Doctor of Arts + <code style='color: #333333; opacity: 0.9'>921</code> - Doctor of Education - EdD + <code style='color: #333333; opacity: 0.9'>1100</code> - Doctor of Law - JD + <code style='color: #333333; opacity: 0.9'>1100</code> - Doctor of Law + <code style='color: #333333; opacity: 0.9'>1000</code> - Doctor of Medicine - MD + <code style='color: #333333; opacity: 0.9'>937</code> - Doctor of Science + <code style='color: #333333; opacity: 0.9'>535</code> - Master of Architecture - MArch + <code style='color: #333333; opacity: 0.9'>536</code> - Master of Arts - MA + <code style='color: #333333; opacity: 0.9'>700</code> - Master of Business Administration - MBA + <code style='color: #333333; opacity: 0.9'>594</code> - Master of Computer Applications - MCA + <code style='color: #333333; opacity: 0.9'>548</code> - Master of Divinity - MDiv + <code style='color: #333333; opacity: 0.9'>550</code> - Master of Education - MEd + <code style='color: #333333; opacity: 0.9'>551</code> - Master of Engineering - MEng + <code style='color: #333333; opacity: 0.9'>603</code> - Master of Fine Arts - MFA + <code style='color: #333333; opacity: 0.9'>555</code> - Master of Laws - LLM + <code style='color: #333333; opacity: 0.9'>557</code> - Master of Library & Information Science - MLIS + <code style='color: #333333; opacity: 0.9'>626</code> - Master of Science - MS + <code style='color: #333333; opacity: 0.9'>589</code> - Master of Social Work - MSW + <code style='color: #333333; opacity: 0.9'>584</code> - Master of Technology - MTech + <code style='color: #333333; opacity: 0.9'>701</code> - Executive MBA + <code style='color: #333333; opacity: 0.9'>500</code> - Master's degree + <code style='color: #333333; opacity: 0.9'>5</code> - Middle School Diploma + <code style='color: #333333; opacity: 0.9'>10</code> - High School Diploma + <code style='color: #333333; opacity: 0.9'>10</code> - GED + <code style='color: #333333; opacity: 0.9'>100</code> - Associate's degree + <code style='color: #333333; opacity: 0.9'>200</code> - Bachelor's degree + <code style='color: #333333; opacity: 0.9'>914</code> - Doctor's Degree + <code style='color: #333333; opacity: 0.9'>750</code> - Engineer's degree + <code style='color: #333333; opacity: 0.9'>160</code> - Higher National Diploma + <code style='color: #333333; opacity: 0.9'>800</code> - Licentiate degree + <code style='color: #333333; opacity: 0.9'>150</code> - Foundation degree   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.get_education_title_get(async_req=True)
        >>> result = thread.get()


        Keyword Args:
            dst_lang (str): The language in which the 'Value' is returned. Supported languages: <code style='color: #333333; opacity: 0.9'>it</code>, <code style='color: #333333; opacity: 0.9'>en</code>, <code style='color: #333333; opacity: 0.9'>es</code>, <code style='color: #333333; opacity: 0.9'>pt</code>, <code style='color: #333333; opacity: 0.9'>de</code>, <code style='color: #333333; opacity: 0.9'>fr</code>, <code style='color: #333333; opacity: 0.9'>pl</code>. [optional] if omitted the server will use the default value of "it"
            codes ([bool, date, datetime, dict, float, int, list, str, none_type]): If <code style='color: #333333; opacity: 0.9'>null</code> the API returns all the corresponding <code style='color: #333333; opacity: 0.9'>lang</code> data.. [optional]
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            GetStandardDataResponse
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get('async_req', False)
        kwargs['_return_http_data_only'] = kwargs.get('_return_http_data_only',
                                                      True)
        kwargs['_preload_content'] = kwargs.get('_preload_content', True)
        kwargs['_request_timeout'] = kwargs.get('_request_timeout', None)
        kwargs['_check_input_type'] = kwargs.get('_check_input_type', True)
        kwargs['_check_return_type'] = kwargs.get('_check_return_type', True)
        kwargs['_spec_property_naming'] = kwargs.get('_spec_property_naming',
                                                     False)
        kwargs['_content_type'] = kwargs.get('_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        return self.get_education_title_get_endpoint.call_with_http_info(
            **kwargs)

    def get_email_label_get(self, **kwargs):
        """Get Email Label  # noqa: E501

         Lists common email labels encodings.  English example values:  + <code style='color: #333333; opacity: 0.9'>OTHER</code> - Other + <code style='color: #333333; opacity: 0.9'>BUSINESS</code> - Business + <code style='color: #333333; opacity: 0.9'>PERSONAL</code> - Personal   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.get_email_label_get(async_req=True)
        >>> result = thread.get()


        Keyword Args:
            dst_lang (str): The language in which the 'Value' is returned. Supported languages: <code style='color: #333333; opacity: 0.9'>it</code>, <code style='color: #333333; opacity: 0.9'>en</code>, <code style='color: #333333; opacity: 0.9'>es</code>, <code style='color: #333333; opacity: 0.9'>pt</code>, <code style='color: #333333; opacity: 0.9'>de</code>, <code style='color: #333333; opacity: 0.9'>fr</code>, <code style='color: #333333; opacity: 0.9'>pl</code>. [optional] if omitted the server will use the default value of "it"
            codes ([bool, date, datetime, dict, float, int, list, str, none_type]): If <code style='color: #333333; opacity: 0.9'>null</code> the API returns all the corresponding <code style='color: #333333; opacity: 0.9'>lang</code> data.. [optional]
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            GetStandardDataResponse
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get('async_req', False)
        kwargs['_return_http_data_only'] = kwargs.get('_return_http_data_only',
                                                      True)
        kwargs['_preload_content'] = kwargs.get('_preload_content', True)
        kwargs['_request_timeout'] = kwargs.get('_request_timeout', None)
        kwargs['_check_input_type'] = kwargs.get('_check_input_type', True)
        kwargs['_check_return_type'] = kwargs.get('_check_return_type', True)
        kwargs['_spec_property_naming'] = kwargs.get('_spec_property_naming',
                                                     False)
        kwargs['_content_type'] = kwargs.get('_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        return self.get_email_label_get_endpoint.call_with_http_info(**kwargs)

    def get_employment_type_get(self, **kwargs):
        """Get Employment Type  # noqa: E501

         Lists common employment type encodings based on LinkedIn Employment Types.  English example values:  + <code style='color: #333333; opacity: 0.9'>FULL_TIME</code> - Full-time + <code style='color: #333333; opacity: 0.9'>PART_TIME</code> - Part-time + <code style='color: #333333; opacity: 0.9'>CONTRACT</code> - Contract + <code style='color: #333333; opacity: 0.9'>TEMPORARY</code> - Temporary + <code style='color: #333333; opacity: 0.9'>VOLUNTEER</code> - Volunteer + <code style='color: #333333; opacity: 0.9'>INTERNSHIP</code> - Internship + <code style='color: #333333; opacity: 0.9'>SELF_EMPLOYED</code> - Self-employed + <code style='color: #333333; opacity: 0.9'>FREELANCE</code> - Freelance + <code style='color: #333333; opacity: 0.9'>APPRENTICESHIP</code> - Apprenticeship + <code style='color: #333333; opacity: 0.9'>SEASONAL</code> - Seasonal + <code style='color: #333333; opacity: 0.9'>OTHER</code> - Other   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.get_employment_type_get(async_req=True)
        >>> result = thread.get()


        Keyword Args:
            dst_lang (str): The language in which the 'Value' is returned. Supported languages: <code style='color: #333333; opacity: 0.9'>it</code>, <code style='color: #333333; opacity: 0.9'>en</code>, <code style='color: #333333; opacity: 0.9'>es</code>, <code style='color: #333333; opacity: 0.9'>pt</code>, <code style='color: #333333; opacity: 0.9'>de</code>, <code style='color: #333333; opacity: 0.9'>fr</code>, <code style='color: #333333; opacity: 0.9'>pl</code>. [optional] if omitted the server will use the default value of "it"
            codes ([bool, date, datetime, dict, float, int, list, str, none_type]): If <code style='color: #333333; opacity: 0.9'>null</code> the API returns all the corresponding <code style='color: #333333; opacity: 0.9'>lang</code> data.. [optional]
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            _request_auths (list): set to override the auth_settings for an a single
                request; this effectively ignores the authentication
                in the spec for a single request.
                Default is None
            async_req (bool): execute request asynchronously

        Returns:
            GetExtendedStandardDataResponse
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs['async_req'] = kwargs.get('async_req', False)
        kwargs['_return_http_data_only'] = kwargs.get('_return_http_data_only',
                                                      True)
        kwargs['_preload_content'] = kwargs.get('_preload_content', True)
        kwargs['_request_timeout'] = kwargs.get('_request_timeout', None)
        kwargs['_check_input_type'] = kwargs.get('_check_input_type', True)
        kwargs['_check_return_type'] = kwargs.get('_check_return_type', True)
        kwargs['_spec_property_naming'] = kwargs.get('_spec_property_naming',
                                                     False)
        kwargs['_content_type'] = kwargs.get('_content_type')
        kwargs['_host_index'] = kwargs.get('_host_index')
        kwargs['_request_auths'] = kwargs.get('_request_auths', None)
        return self.get_employment_type_get_endpoint.call_with_http_info(
            **kwargs)

    def get_field_of_study_get(self, **kwargs):
        """Get Field Of Study  # noqa: E501

         Lists fields of study encodings based on LinkedIn Fields of Study.  English example values:  + <code style='color: #333333; opacity: 0.9'>100992</code> - Econometrics and Quantitative Economics + <code style='color: #333333; opacity: 0.9'>101471</code> - Management Sciences and Quantitative Methods + <code style='color: #333333; opacity: 0.9'>100982</code> - Research Methodology and Quantitative Methods + <code style='color: #333333; opacity: 0.9'>100417</code> - Quality Control Technology/Technician + <code style='color: #333333; opacity: 0.9'>100404</code> - Water Quality and Wastewater Treatment Management and Recycling Technology/Technician + <code style='color: #333333; opacity: 0.9'>100921</code> - Psychometrics and Quantitative Psychology + <code style='color: #333333; opacity: 0.9'>100415</code> - Quality Control and Safety Technologies/Technicians + <code style='color: #333333; opacity: 0.9'>100861</code> - Youth Ministry + <code style='color: #333333; opacity: 0.9'>101372</code> - Yoga Teacher Training/Yoga Therapy + <code style='color: #333333; opacity: 0.9'>100980</code> - Youth Services/Administration + <code style='color: #333333; opacity: 0.9'>100603</code> - Children and Youth Library Services + <code style='color: #333333; opacity: 0.9'>100912</code> - Psychology + <code style='color: #333333; opacity: 0.9'>101001</code> - Political Science and Government + <code style='color: #333333; opacity: 0.9'>101460</code> - Human Resources Management/Personnel Administration, General + <code style='color: #333333; opacity: 0.9'>100892</code> - Physics + <code style='color: #333333; opacity: 0.9'>100865</code> - Physical Sciences + <code style='color: #333333; opacity: 0.9'>101419</code> - Project Management + <code style='color: #333333; opacity: 0.9'>101295</code> - Pharmacy + <code style='color: #333333; opacity: 0.9'>100838</code> - Philosophy + <code style='color: #333333; opacity: 0.9'>100974</code> - Public Administration + <code style='color: #333333; opacity: 0.9'>100151</code> - Public Relations/Image Management + <code style='color: #333333; opacity: 0.9'>100180</code> - Computer Programming, Specific Applications + <code style='color: #333333; opacity: 0.9'>101117</code> - Industrial and Product Design + <code style='color: #333333; opacity: 0.9'>101136</code> - Photography + <code style='color: #333333; opacity: 0.9'>100926</code> - Counseling Psychology + <code style='color: #333333; opacity: 0.9'>100580</code> - Legal Assistant/Paralegal + <code style='color: #333333; opacity: 0.9'>100924</code> - Clinical Psychology + <code style='color: #333333; opacity: 0.9'>101414</code> - Non-Profit/Public/Organizational Management + <code style='color: #333333; opacity: 0.9'>100178</code> - Computer Programming + <code style='color: #333333; opacity: 0.9'>100201</code> - Information Technology Project Management + <code style='color: #333333; opacity: 0.9'>100900</code> - Theoretical and Mathematical Physics + <code style='color: #333333; opacity: 0.9'>101421</code> - Organizational Leadership + <code style='color: #333333; opacity: 0.9'>101413</code> - Operations Management and Supervision + <code style='color: #333333; opacity: 0.9'>100877</code> - Organic Chemistry + <code style='color: #333333; opacity: 0.9'>100001</code> - Agriculture, Agriculture Operations, and Related Sciences + <code style='color: #333333; opacity: 0.9'>101482</code> - General Sales, Merchandising and Related Marketing Operations + <code style='color: #333333; opacity: 0.9'>100927</code> - Industrial and Organizational Psychology + <code style='color: #333333; opacity: 0.9'>101408</code> - Business Administration, Management and Operations + <code style='color: #333333; opacity: 0.9'>100374</code> - Operations Research + <code style='color: #333333; opacity: 0.9'>101321</code> - Occupational Therapy/Therapist + <code style='color: #333333; opacity: 0.9'>100150</code> - Organizational Communication, General + <code style='color: #333333; opacity: 0.9'>100677</code> - Marine Biology and Biological Oceanography + <code style='color: #333333; opacity: 0.9'>100169</code> - Graphic and Printing Equipment Operator, General Production + <code style='color: #333333; opacity: 0.9'>101462</code> - Organizational Behavior Studies + <code style='color: #333333; opacity: 0.9'>101432</code> - Business/Office Automation/Technology/Data Entry + <code style='color: #333333; opacity: 0.9'>101487</code> - Specialized Sales, Merchandising and  Marketing Operations + <code style='color: #333333; opacity: 0.9'>101095</code> - Aviation/Airway Management and Operations + <code style='color: #333333; opacity: 0.9'>101287</code> - Optometry + <code style='color: #333333; opacity: 0.9'>100715</code> - Military Operational Art and Science/Studies + <code style='color: #333333; opacity: 0.9'>100891</code> - Oceanography, Chemical and Physical + <code style='color: #333333; opacity: 0.9'>101409</code> - Business Administration and Management, General + <code style='color: #333333; opacity: 0.9'>101475</code> - Marketing + <code style='color: #333333; opacity: 0.9'>100360</code> - Mechanical Engineering + <code style='color: #333333; opacity: 0.9'>100139</code> - Communication and Media Studies + <code style='color: #333333; opacity: 0.9'>100693</code> - Mathematics + <code style='color: #333333; opacity: 0.9'>101476</code> - Marketing/Marketing Management, General + <code style='color: #333333; opacity: 0.9'>101468</code> - Management Information Systems, General + <code style='color: #333333; opacity: 0.9'>101274</code> - Medicine + <code style='color: #333333; opacity: 0.9'>101406</code> - Business, Management, Marketing, and Related Support Services + <code style='color: #333333; opacity: 0.9'>101438</code> - Business/Managerial Economics + <code style='color: #333333; opacity: 0.9'>100447</code> - Engineering/Industrial Management + <code style='color: #333333; opacity: 0.9'>100142</code> - Mass Communication/Media Studies + <code style='color: #333333; opacity: 0.9'>101150</code> - Music + <code style='color: #333333; opacity: 0.9'>101459</code> - Human Resources Management and Services + <code style='color: #333333; opacity: 0.9'>101427</code> - Accounting and Business/Management + <code style='color: #333333; opacity: 0.9'>100761</code> - Mathematics and Computer Science + <code style='color: #333333; opacity: 0.9'>101443</code> - Finance and Financial Management Services + <code style='color: #333333; opacity: 0.9'>100143</code> - Journalism + <code style='color: #333333; opacity: 0.9'>100939</code> - Criminal Justice and Corrections + <code style='color: #333333; opacity: 0.9'>100144</code> - Broadcast Journalism + <code style='color: #333333; opacity: 0.9'>100119</code> - Japanese Studies + <code style='color: #333333; opacity: 0.9'>100462</code> - Japanese Language and Literature + <code style='color: #333333; opacity: 0.9'>100944</code> - Criminal Justice/Police Science + <code style='color: #333333; opacity: 0.9'>100569</code> - Canadian Law/Legal Studies/Jurisprudence + <code style='color: #333333; opacity: 0.9'>100942</code> - Criminal Justice/Safety Studies + <code style='color: #333333; opacity: 0.9'>100847</code> - Jewish/Judaic Studies + <code style='color: #333333; opacity: 0.9'>101158</code> - Jazz/Jazz Studies + <code style='color: #333333; opacity: 0.9'>100037</code> - Agricultural Communication/Journalism + <code style='color: #333333; opacity: 0.9'>100941</code> - Criminal Justice/Law Enforcement Administration + <code style='color: #333333; opacity: 0.9'>100568</code> - American/U.S. Law/Legal Studies/Jurisprudence + <code style='color: #333333; opacity: 0.9'>100281</code> - Junior High/Intermediate/Middle School Education and Teaching + <code style='color: #333333; opacity: 0.9'>101054</code> - Watchmaking and Jewelrymaking + <code style
[...]
